<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add an Animal</title>
  </head>

  <body>
    <%- include('../partials/nav') %>
    <h1>Add an Animal</h1>
    <p>Complete the form below and click submit</p>
    <form action="/animals" method="POST" autocomplete="off">
      <label for="name">Name:</label>
      <input type="text" name="name" id="" name />

      <label for="animalClass">Class Of Animal:</label>
      <input type="text" name="animalClass" id="animalClass" />

      <label for="habitat">Habitat:</label>
      <input type="text" name="habitat" id="habitat" />

      <label for="diet">Choose a Diet:</label>
      <select name="diet" id="diet">
        <option value="Herbivore">Herbivore</option>
        <option value="Carnivore">Carnivore</option>
        <option value="Omnivore">Omnivore</option>
      </select>

      <label for="img">Image URL:</label>
      <input type="text" name="img" id="img" />

      <!-- <input list="dietOptions" name="diet" id="diet" />
            <datalist id="dietOptions">
                <option value="Herbivore"></option>
                <option value="Carnivore"></option>
                <option value="Omnivore"></option>
            </datalist> -->

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
