<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add an Animal</title>
  </head>

  <body>
    <%- include('../partials/nav') %>
    <h1>Add an Animal</h1>
    <p>Complete the form below and click submit</p>
    <form  class="addAnimal" action="/animals" method="POST" autocomplete="off">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />

      <label for="habitat">Habitat:</label>
      <input type="text" name="habitat" id="habitat" />

      <label for="diet">Choose a Diet:</label>
      <select name="diet" id="diet">
        <option value="Herbivore">Herbivore</option>
        <option value="Carnivore">Carnivore</option>
        <option value="Omnivore">Omnivore</option>
      </select>
      <label for="lifespan">Lifespan:</label>
      <input type="text" name="lifespan" id="lifespan" />

      <label for="location">Location:</label>
      <input type="text" name="location" id="location" />

      <button class="subtmit-Btn" type="submit">Submit</button>
    </form>
  </body>
</html>
